@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

/* Tailwind Styles */
.app {
  @apply relative 
    z-10 
    flex 
    flex-col
    overflow-x-hidden;
}

::selection {
  @apply bg-black-300 text-white;
}

/* Typhography */
body {
  @apply font-sans
   text-base
   font-normal
   leading-relaxed
   text-black-400
   sm:text-lg
   sm:leading-normal;
}

.body-sm {
  @apply text-base leading-relaxed;
}

.container {
  @apply grid px-6
    sm:grid-cols-12
    sm:gap-x-[0.625rem] 
    sm:px-10 
    md:gap-x-[1.875rem] 
    lg:px-0;
}

.heading-xl {
  @apply text-2xl 
    font-light 
    leading-tight
    tracking-tight 
    sm:text-4xl 
    lg:text-7xl 
    lg:leading-none;
}

.heading-lg {
  @apply text-2xl 
    font-bold 
    leading-tight 
    tracking-tight
    sm:text-4xl 
    sm:leading-none;
}

.heading-md {
  @apply text-lg 
    font-bold 
    leading-[1.5rem]
    tracking-tight;
}

.heading-sm {
  @apply text-[1.0625rem] 
    font-semibold 
    uppercase
    leading-7 
    tracking-wider
    text-black-200;
}

.text-footer {
  @apply text-center
    text-sm
    font-normal
    uppercase
    leading-7
    tracking-[2px]
    sm:text-left;
}

/* Background */
.bg-to-white {
  @apply bg-gradient-to-r 
    from-white 
    from-50% 
    to-transparent 
    to-50%
    bg-double;
}

.bg-to-black {
  @apply bg-gradient-to-r 
    from-black-400 
    from-50% 
    to-transparent 
    to-50%
    bg-double;
}

.bg-black-to-white {
  @apply bg-gradient-to-r 
    from-white 
    from-50% 
    to-black-400 
    to-50%
    bg-double;
}

/* Buttons */
.btn {
  @apply bg-to-white
    relative
    inline-block
    whitespace-nowrap
    bg-end
    p-6 
    text-[1.0625rem]
    font-semibold
    uppercase
    leading-4
    tracking-wider
    text-white
    outline 
    outline-1 
    outline-white
    transition-colors 
    duration-500
    hover:bg-initial
    hover:text-black-400
    focus-visible:bg-initial
    focus-visible:text-black-400
    disabled:cursor-not-allowed;
}

.btn--dark {
  @apply bg-to-black
    text-black-400
    outline-black-400
    hover:text-white
    focus-visible:text-white;
}

.btn--black {
  @apply bg-black-to-white
    text-white
    outline-black-400
    hover:text-black-400
    focus-visible:text-black-400;
}

.btn--lg {
  @apply px-14;
}

.btn:disabled {
  @apply bg-none text-white opacity-50 outline-white;
}

.tab-active {
  @apply relative;
}

.tab-active::before {
  @apply absolute 
    inset-0 
    top-auto 
    -z-10
    mx-auto
    h-[1px] 
    w-12 
    animate-grow 
    bg-primary-400
    content-['']
    sm:-bottom-2
    md:inset-0
    md:left-auto
    md:right-[calc(100%+2rem)]
    md:top-1/2
    md:mx-0
    md:w-24
    md:origin-left;
}

.pattern-curve-tr,
.pattern-curve-tr--after,
.pattern-curve-tl,
.pattern-curve-br,
.pattern-lines {
  @apply relative;
}

.pattern-curve-tr::before,
.pattern-curve-tr--after::after {
  @apply absolute 
    -z-10
    h-[20rem] 
    sm:content-[url(/assets/patterns/pattern-curve-top-right.svg)];
}

.pattern-curve-tl::before {
  @apply absolute
    -z-10
    h-[20rem]
    sm:content-[url(/assets/patterns/pattern-curve-top-left.svg)];
}

.pattern-curve-br::before {
  @apply absolute
    -z-10
    h-[20rem]
    md:content-[url(/assets/patterns/pattern-curve-bottom-right.svg)];
}

.pattern-lines::before {
  @apply absolute
    -z-10
    h-[4.75rem]
    w-40
    sm:content-[url(/assets/patterns/pattern-lines.svg)];
}
